doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/latofonts.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(src='/javascripts/bgimg.js')
    script(src='/javascripts/ddslick.js')
  body
    block content
    script(src='/javascripts/headergen.js')